*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    
  }
  
  /* Comienzo Footer David Alejandro y Juan Carlos*/
  
  .footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }    
  .footer-left {
  flex: 40%;
  background-color: #222D56; /* Cambiar este color según  necesidades */
  margin-bottom: 30px;
  }
  
  .footer-left {
    background-color: #222D56;
  }
  
  .social-link {
  display: inline-block;
  background-color: #FAA307;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  }
  
  .social-link:hover {
    cursor: pointer;
  background-color: #32526E;
  }
  
  .social-link {
  background-color: #FAA307;
  color: white;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 10px;
  }
  
  .social-link i {
  font-size: 30px;
  }
  
  .social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  }
  
  .social-link {
  margin-right: 10px;
  }
  
  .icon-container a {
  margin-right: 10px; /* Espaciado entre los íconos */
  color: white; /* Color del ícono */
  font-size: 24px; /* Tamaño del ícono */
  }
  
  .footer-right {
  flex: 60%;
  background-color: #222D56; /* Cambiar este color según necesidades */
  margin-bottom: 30px;
  }
  
  .subscription-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  }
  
  .subscription-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  }
  
  .subscription-form {
    width: 17rem;
  display: flex;
  align-items: center;
  margin-top: 10px;
  }
  
  .subscription-form input[type="email"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 14px;
  }

  form button[type="submit"] {
    background-color: #FFBA08;
    color: rgb(66, 66, 66);
    font-size: 20px;
}

  .footer-container {
    background-color: #222D56;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }
  
  .footer-section {
    max-width: 300px;
  }
  
  .footer-section h4 {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
  }
  
  .footer-section p,
  .footer-section a {
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    color: #fff;
  }
  
  
  
  p {
    line-height: 1.0;
  }
  
  p.small-text {
    font-size: 11px; /* Ajustar este valor según necesidades */
  }
  
.email-footer, .whatsapp-footer{
display: flex;
gap: 0 10px;
}

.p-footer{
  padding-top: 5px;
}


  
  
  
  /* Estilos para pantallas pequeñas (móviles) */
  @media (max-width: 767px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-left {
      margin-bottom: 30px;
    }
  
    .social-links {
      justify-content: center;
    }
  
    .footer-right {
      width: 100%;
    }
  
  
    .subscription-section {
      width: 100%;
    }
  }
  
  /* Estilos para pantallas medianas (tablets) */
  @media (min-width: 768px) and (max-width: 991px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-left {
      margin-bottom: 30px;
    }
  
    .social-links {
      justify-content: center;
    }
  
    .footer-right {
      width: 100%;
    }
  

  
    .subscription-section {
      width: 100%;
    }
  }
  
  /* Estilos para pantallas grandes (escritorio) */
  @media (min-width: 992px) {
    .footer-container {
      display: flex;
      justify-content: space-between;
  
  
    }
  
    .footer-left {
      width: 40%;
    }
  
    .footer-right {
      width: 55%;
    }
  
  
    .subscription-section {
      width: 100%;
    }
  }
  
  /* Fin Footer */