
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*SECCIÓN FÚTURO MELISA-INICIO*/


 .main-futuro{
     background-color: white;
     display:flex;
     justify-content: space-between;
     align-items: center;
     margin: 120px 30px 120px 300px;
     
 }


 .titulo-futuro{
    font-family: 'Impact', sans-serif;
    font-size: 3.5rem;
    font-size: 70px;
    color: #222D56;
    margin-bottom: 1rem;
 }

 .parrafo-futuro{
     color:#222D56;
     font-family:'Acumin Variable Concept', sans-serif;
     font-size: 25px;
     text-align: justify;
 }

 /*COMIENZA LA VENTANA MODAL*/

.modalp-futuro { color:#222D56;
    font-family:'Acumin Variable Concept', sans-serif;
    text-align: center;
}

 #btn-abrir-modal {
    background-color: #FFBA08;
    color: #fff;
    border: 1px solid;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#btn-abrir-modal:hover {
    color:#FAA307 ;
    background-color: #fff;;
}

dialog {
    font-family:'Acumin Variable Concept', sans-serif;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(61, 48, 48, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    position: relative;
    margin: auto;
    position:fixed;
    background: rgba(215, 217, 223, 0.9);
}

dialog h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    width: 100%;
    max-width: 300px; /* Ajusta el ancho máximo */
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
}

form button[type="submit"] {
    background-color: #222D56;
    color: white;
    border: none;
    padding: 10px; /* Aumenta el padding */
    font-size: 1em; /* Aumenta el tamaño de la fuente */
    cursor: pointer;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 200;
    transition: background-color 0.3s ease;
    width: 100%; /* Hace que el botón sea tan ancho como el contenedor */
    max-width: 200px;
    margin-top: 10px;
}

form button[type="submit"]:hover {
    color: #32526E;;
    background-color: #fff;
}

#btn-cerrar-modal {
    background-color: #FFBA08;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    transition: background-color 0.3s ease;
    width: 100%; /* Hace que el botón sea tan ancho como el contenedor */
    max-width: 200px;
    margin-top: 10px;
}

#btn-cerrar-modal:hover {
    color:#FAA307 ;
    background-color: #fff;
}

.img-futuro {
    width: 75%;
    height: auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*TERMINA LA VENTANA MODAL*/

.img-futuro {
    width: 75%;
    height: auto;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    animation: fadeInMove 1s forwards;
}

.btn-group {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}

@keyframes fadeInMove {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.main-futuro {
    opacity: 0;
        animation: fadeIn 2s forwards;
}  


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .main-futuro {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .titulo-futuro {

        text-align: center;
    } 

    .parrafo-futuro {
        margin-bottom: 20px;
        text-align:left;
        font-size: 20px;
    }

    .img-futuro {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-top: 25px;
    }

    .btn-group{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px 0;
        > button, a{
            width: 50%;
        }
    }
}

 
/*TEMINA SECCIÓN FÚTURO*/