
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

/*SECCIÓN FÚTURO MELISA-INICIO*/
body p {
    font-family: 'Acumin Variable Concept', sans-serif;
}

.titulo-futuro {
    font-family: 'Impact', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: #222D56;
    margin-bottom: 1rem;
}

.parrafo-futuro {
    font-size: 1.5rem;
    text-align: justify;
    color: #32526E;
}

.btn-futuro {
    font-family: 'Acumin Variable Concept', sans-serif;
    transition: all 0.3s ease-in-out;
}

.btn-warning {
    background-color: #FFBA08;
    border-color: #FFBA08;
    color: #222D56;
}

.btn-outline-secondary {
    border-color: #32526E;
    color: #32526E;
}

.btn-warning:hover, .btn-outline-secondary:hover {
    transform: scale(1.1);
}

.img-futuro {
    width: 75%;
    height: auto;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    animation: fadeInMove 1s forwards;
}

@keyframes fadeInMove {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.main-futuro {
    opacity: 0;
        animation: fadeIn 2s forwards;
}  


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .main-futuro {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .titulo-futuro, .parrafo-futuro, .btn-btn-futuro {
        width: 100%;
        text-align: center;
    }

    .parrafo-futuro {
        margin-bottom: 20px;
    }

    .img-futuro {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-top: 25px;
    }
}
   
/*TEMINA SECCIÓN FÚTURO*/