/* Estilos para centrar y alinear la barra de búsqueda */
.search-container {
    position: relative;
    width: 350px;
}

.input {
    width: 100%;
    padding-right: 90px; /* Espacio para el icono */
}

.search__icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .search-container {
        max-width: 95%;
    }
    
    .input {
        width: calc(100% - 30px); /* Ajustar para que no se superponga con el icono */
    }

    .search__icon {
        right: 5px;
    }
}
