*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

/*Tatiana Carrusel 1*/

.card-oportunidades{
  width: 95%;
}

.card-oportunidades{
  height: 9.5rem;
}



.t-oportunidades {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #222d56;
    text-align: center;
    font-size: 70px;
    margin-top: 150px;
    justify-content: center;


}
.card-img-top {
    height: 250px; /* Ajustar la altura de la imagen */
    object-fit: cover; /* Mantener el aspecto de la imagen */
}


.title-cuerpo{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #222d56;
    text-align: left;
    padding: 20px 25px 0;
    

  }
  .cuerpo-carrusel {
    text-align: left;
    padding: 0 25px 20px;
  }
 
    

@media screen and (max-width: 1026px){
  .card-oportunidades{
    height: 12rem;
  }
  
}


@media (max-width: 767px) {
  .t-oportunidades {
    font-size: 55px;
}
  }


/*fin Tatiana Carrusel 1*/