*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

/*SECCIÓN FÚTURO MELISA-INICIO*/
.main-futuro{
     background-color: white;
     display:flex;
     justify-content: space-between;
     margin: 200px 30px 200px 300px;
     gap: 0px;
     opacity: 0px;
 }
 
 
 .titulo-futuro{
     color:#222D56;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 40px;
 }
 
 .parrafo-futuro{
     color:#222D56;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     font-size: 20px;
     text-align: justify;
 }
 
 .img-futuro{
     max-width: 300px;
     height: 300px;
     top: 299px;
 }
 
 
 .btn-btn-futuro{
     background: #FFBA08;
     cursor: pointer;
     border: none;
     padding: 10px 15px;
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 10px;
     font-weight: bold;
     position:relative;
     border-radius: 12px;
     margin-top: 40px;
     margin-left: 10px;
     margin-right: 30px;
     margin-bottom: 20px;
     
 }
 
 @media screen and (max-width: 600px) {
     .main-futuro {
         flex-direction: column;
         align-items: center;
         margin: 20px;
     }
 
     .titulo-futuro, .parrafo-futuro, .btn-btn-futuro {
         width: 100%;
         text-align: center;
     }
 
     .parrafo-futuro {
         margin-bottom: 20px;
     }
 
     .img-futuro{
         width: 100%;
         max-width: 100%;
         height: auto;
     }
 }
    
/*TEMINA SECCIÓN FÚTURO*/