*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

/* David Alejandro */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}    
.footer-left {
  flex: 40%;
  background-color: #222D56; /* Cambia este color según tus necesidades */
  margin-bottom: 30px;
}

.footer-right {
  flex: 60%;
  background-color: #222D56; /* Cambia este color según tus necesidades */
  margin-bottom: 30px;
}


.footer-container {
    background-color: #222D56;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.footer-section {
    max-width: 300px;
}

.footer-section h4 {
    border-bottom: 2px solid #555;
    padding-bottom: 10px;
}

.footer-section p,
.footer-section a {
    color: #ccc;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
}

.footer-container {
  display: flex;
}

p {
    line-height: 1.0;
  }

  p.small-text {
    font-size: 11px; /* Ajusta este valor según tus necesidades */
  }

  .whatsapp {
    display: flex;
    align-items: center;
  }
  
  .email {
    display: flex;
    align-items: center;
  }
  
  .email i {
    margin-right: 11px; /* Ajusta este valor según tus necesidades */
  }
